label {
  display: block;
  text-align: left;
  margin: 1em 0 .5em 0;
}

input,
textarea {
  font-size: 1rem;
  padding: .75em;
  border: 1px solid #ddd;
}

input {
  width: 100%;
}

textarea {
  min-height: 10em;
  resize: vertical
}

.input-container {
  display: flex;
  align-items: stretch;
}

.input-container input {
  flex: 1;
  border-right: none;
}

.input-container .input-container__icon {
  background: none;
  border: 1px solid #ddd;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0 .4em 0.15em .4em;
}