label {
  display: block;
  text-align: left;
  margin: 1em 0 .5em 0;
}

input,
textarea {
  font-size: 1rem;
  padding: .75em;
  border: 1px solid #ddd;
}

input {
  width: 100%;
}

.input-container {
  display: block;
  position: relative;
}

.input-container input {
  width: 100%
}

.input-container .input-container__icon {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}